@media screen and (min-width: 1150px){
    #profile-desktop{
        visibility: visible;
        display: initial;

        position: absolute;
        top: 350px;
        left: 0;

        width: 225px;
        margin-right: 70px;
        margin-top: -23%;
    }

    #profile-pic{
        width: 85px;
        height: 85px;
        border-radius: 50%;
    }

    .desktop-info-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .desktop-profile-content h2{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 5px;
        margin-top: -8px;
    }

    .desktop-profile-content p, .fa-star{
        font-size: 1.4rem;
        font-weight: 400;      
    }

    .fa-star{
        color: var(--yellow-color);
    }

    .desktop-profile-content p:nth-child(2){
        margin-bottom: 3px;  
    }

    /* XP bar */
    .kcal-prize{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .kcal-prize p,
    .kcal-prize .fa-star{
        font-size: 1.1rem;
    }

    .desktop-xp-container{
        width: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    
        margin-top: 12px;
    }
    
    .desktop-xp-bar{
        width: 100%;
        height: 7px;
        background: var(--dark-color);
        border-radius: 10px;
        margin-top: 2px;
    }
    
    .desktop-total-xp{
        width: 50%;
        height: 7px;
        background: var(--green-color);
        border-radius: 10px 0 0 10px;
        border: none;
    }
    
    .fa-caret-up{
        color: var(--gray-color);
    }

    .xp-read{
        font-size: .9rem;
        margin-top: 0;
    }

    /* Rank style (like mobile) */

    #ranking h4{
        font-size: 1.2rem;
        font-weight: 400;
        color: rgba(46, 40, 42, .5);
        margin: 10px 0 15px;
    }

    .rank{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }
    
    .rank-content{
        display: flex;
    }
    
    .profile-pic{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        
        margin-top: 5.5px;
    
        background: var(--gray-color);
    }
    
    .info-rank-content{
        margin-left: 10px;
    }

    .info-rank-content .fa-star{
        font-size: .9rem;
    }
    
    .rank-content h1{
        font-size: 1rem;
        font-weight: 600;
    }
    
    .rank-content p:nth-child(1){
        font-size: .9rem;
        font-weight: 400;
    }
    
    .rank-content p:nth-child(2){
        font-size: 1rem;
        font-weight: 400;
    }
    
    .fa-star{
        color: var(--yellow-color);
    }
    
    .fa-chevron-right{
        font-size: 1.7rem;
        color: var(--green-color);
    }
}