.profile-container{
    width: 100%;
    padding-top: 28px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-container{
    display: flex;
}

#profile-pic{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile-content{
    display: flex;
    flex-direction: column;
    margin-left: 23px;
}

h2{
    font-size: 1.8rem;
    font-weight: 600;

    margin-bottom: 3px;
}

.profile-container p{
    font-size: 1.3rem;
    font-weight: 400;
    margin: 2px 0;
}

.fa-star{
    color: var(--yellow-color);
    font-size: 1.3rem;
}

.fa-cog{
    position: absolute;
    top: 27px;
    right: 9.25vw;

    color: var(--white-color);
    font-size: 2.2rem;
    margin-top: 5px;
}

/* Experience bar and infos */

.xp-container{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 12px;
}

.xp-bar{
    width: 100%;
    height: 7px;
    background: var(--white-color);
    border-radius: 10px;
    margin-top: 2px;
}

.total-xp{
    width: 50%;
    height: 7px;
    background: var(--green-color);
    border-radius: 10px 0 0 10px;
    border: none;
}

.xp-read{
    font-size: .9rem;
    margin-top: 0;
}

hr{
    width: 100%;
    opacity: .3;
    border: none;
    background: var(--gray-color);
    height: .1px;
    margin: 5px 0px 15px;
}

/* Main contents */

main{
    width: 100%;
}

.xp-bars{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.diary-bar{
    width: 100%;
    display: flex;
    flex-direction: column;    
    margin-bottom: 12px;
}

.diary-bar-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.diary-bar h4{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 21px;
    margin-bottom: 3px;
}

.diary-bar-items .fa-pencil-alt{
    font-size: 1.4rem;
    color: var(--white-color);
}

.group-1{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    border-bottom: .2px solid rgba(244, 244, 246, .4);
}

.rec{
    min-width: 320px;
    height: 220px;
    background: var(--gray-color);
    
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--dark-color);
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;

    margin-bottom: 20px;
}

@media screen and (min-width: 620px) {
    #profile-pic{
        margin-top: 10px;
    }
    .profile-content{
        flex-direction: row;
        justify-content: space-between;
        width: 60vw;
        height: 30px;
    }
    .profile-content p{
        font-size: 1.4rem;
        margin-top: 4px;
    }
    .xp-container{
        position: absolute;
        right: 66px;
        top: 50px;
        width: 64%;
    }
    hr{
        margin-top: 20px;
    }

    .group-1{
        flex-direction: row;
    }

    .rec:nth-child(n+2){    
        margin-left: 40px;
    }
}

@media screen and (min-width: 768px){
    .xp-container{
        right: 12vw;
    }
}

@media screen and (min-width: 1150px){
    body{
        background: var(--white-color);
    }

    p, 
    h1, 
    h2, 
    h3,
    h4, 
    #add-food,
    .diary-bar .fa-pencil-alt{
        color: var(--dark-color);
    }
    
    .index-logo{
        color: var(--white-color);
    }

    .container{
        position: relative;
        display: flex;
        width: 1150px;
    }

    .profile-container, hr{
        visibility: hidden;
        display: none;
    }

    main{
        width: 857px;
        position: absolute;
        right: 0;
        top: 90px;
        float: right;
    }

    main .titles{
        font-size: 2rem;
        font-weight: 700;
    }

    .xp-bars{
        border-bottom:  .2px solid rgba(46, 40, 42, .4);
        margin-bottom: 20px;
    }

    .xp-bars .diary-bar{
        max-width: 410px;
    }
    
    .diary-bar-items h4,
    .diary-bar .fa-pencil-alt{
        font-size: 1.6rem;
    }
    .diary-bar .xp-bar{
        background: var(--dark-color);
    }

    .group-1{
        border-bottom: .2px solid rgba(46, 40, 42, .4);
    }


}