
.title{
    width: 100%;
    padding-top: 28px;
}

.rank{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid rgba(244, 244, 246, .2);
    margin-top: 10px;
}

.profile-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;

    margin-bottom: 10px;

    background: var(--gray-color);
}

.rank-content{
    display: flex;
    flex-direction: column;
    margin-top: -10px;

    margin-left: -50px;
}

.rank-content h1{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--green-color);
}

.rank-content p:nth-child(1){
    font-size: .9rem;
    font-weight: 400;
}

.rank-content p:nth-child(2){
    font-size: 1rem;
    font-weight: 400;
}

.fa-star{
    color: var(--yellow-color);
}

.next{
    height: 17px;
}