.side-side{
    width: 100%;
    display: flex;
    justify-content: space-between;    
    padding: 28px 0 10px;
}

.fa-cog{
    font-size: 1.8rem;
    padding-top: 5px;
}

.subtitle{
    font-size: 1rem;
    font-weight: 400;
    width: 100%;    
}

.kcal-table{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: .5fr 1fr; 
    gap: 10px 0; 
    grid-template-areas:"carbo fat protein""consumed total spent";

    width: 100%;
    height: 140px;
    background: var(--green-color);
    border-radius: 7px;
    margin: 3px 0 12px;
}

/* Grid areas */

.carbo{
    grid-area: "carbo";
}
.fat{
    grid-area: "fat";
}
.protein{
    grid-area: "protein";
}
.consumed{
    grid-area: "consumed";
}
.total{
    grid-area: "total";
    margin-top: -20px;
}
.spent{
    grid-area: "spent";
}

/* XP bar */

.xp-bar{
    width: 100%;
    height: 2px;
    background: var(--dark-color);
    border-radius: 10px;    
}

.total-xp{
    width: 50%;
    height: 2px;
    background: var(--white-color);
    border-radius: 10px 0 0 10px;
    border: none;
}

/* Items config inside the table */

.kcal-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 7px;
}

.kcal-info h1, .kcal-info h4{
    font-size: 1rem;
    font-weight: 400;
    color: var(--dark-color);
    padding-top: 3px;
}

.kcal-info p{
    font-size: .7rem;
    font-weight: 400;
    color: var(--dark-color);
    padding-top: 3px;
}

.total h1{
    font-size: 1.2rem;
}

.desktop-container>h1{
    visibility: hidden;
    display: none;
}

/* Semi-circle Style */

.progress{ 
    position: relative;
    float:left;
    text-align: center;
}

.progress span p:nth-child(1){
    font-size: 1.4rem;
    color: var(--dark-color);
    margin-bottom: -5px;
}

.barOverflow{ 
    position: relative;
    width: 90px; 
    height: 45px; 
    margin-bottom: -35px;
    overflow: hidden;
}

.bar{
    position: absolute;
    top: 0; 
    left: 0;

    width: 90px; 
    height: 90px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid var(--white-color);
    border-bottom-color: var(--dark-color);
    border-right-color: var(--dark-color);
}

/* Steps box */

.steps-table{
    width: 100%;
    height: 50px;

    background: rgba(196, 196, 196, .8);
    border-radius: 7px;
    margin: 3px 0 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number-line{
    width: 92.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.number-line .number{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.number-line .number p:nth-child(1){
    font-size: .8rem;
    font-weight: 500;
    color: var(--dark-color);
    margin-bottom: -3px;
} 

.number-line .number p:nth-child(2){
    font-size: .5rem;
    font-weight: 500;
    color: var(--dark-color);
} 

/* Steps indicator */

.indicator{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 450px;    
}

.indicator svg:nth-child(1){
    height: 28px;
    margin-bottom: -2px;
}

.indicator svg:nth-child(2){
    width: 10px;
    height: 5px;
}

.steps-xp-bar{
    width: 91%;
    height: 2px;
    background: var(--dark-color);
    border-radius: 10px;    
}

.total-steps-xp{
    width: 50%;
    height: 2px;
    background: var(--white-color);
    border-radius: 10px 0 0 10px;
    border: none;
}

/* Water box */

.water-table{    
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 140px;
    background: var(--blue-color);
    border-radius: 7px;

    margin: 3px 0 12px;
}

.water-table p:nth-child(1){
    font-size: 10;
    font-weight: 500;
    margin-top: 10px;
}

.water-table p:nth-child(2){
    font-size: 9;
    font-weight: 400;
    margin-bottom: 12px;
}

.cup-container{
    width: 93.2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cup-container svg{
    margin: 0 .8px;
}

.cup-of-water{
    width: 25.6px;
}

.lot-of-svg{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.lot-of-svg svg:nth-child(n+2){
    margin-left: 4px;
}

/* Graphics style */

.graphic-table{    
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: var(--dark-color);
    font-weight: 600;

    width: 100%;
    height: 140px;
    background: var(--gray-color);
    border-radius: 7px;

    margin: 3px 0 50px;
}

@media screen and (min-width: 768px) {

    .tables-summary{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .tables-summary .table{
        width: 270px;
    }

    .indicator{
        top: 280px;
    }
    
}

@media screen and (min-width: 1150px){
    body{
        background: var(--white-color);
    }

    p, 
    h1, 
    h2, 
    h3,
    h4, 
    #add-food,
    .diary-bar .fa-pencil-alt{
        color: var(--dark-color);
    }
    
    .index-logo{
        color: var(--white-color);
    }

    .desktop-container>h1{
        visibility: visible;
        display: initial;
    }

    .container{
        position: relative;
        display: flex;
        width: 1150px;
    }

    .profile-container{
        visibility: hidden;
        display: none;
    }

    .desktop-container{
        width: 857px;
        position: absolute;
        right: 0;
        top: 90px;
        float: right;
    }

    .subtitle{
        margin-top: 20px;
    }

    .tables-summary{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .tables-summary .table{
        width: 410px;
    }

    .lot-of-svg svg:nth-child(n+2){
        margin-left: 8px;
    }

    .lot-of-svg svg:last-child{
        margin-left: 0;
        margin-top: 10px;
    }

    .cup-of-water{
        width: 39px;
    }

    .subtitle{
        font-size: 1.6rem;
    }
    
    .kcal-table, .water-table{
        height: 220px;
    }

    .kcal-info h1{
        font-size: 1.4rem;
    }
    .kcal-info .xp-bar,
    .xp-bar .total-xp{
        height: 6px;
    }
    .kcal-info p{
        font-size: 1rem;
    }

    .progress span p:nth-child(1){
        font-size: 2.4rem;
        margin-bottom: -10px;
    }

    .total h1{
        font-size: 1.8rem;
    }
    
    .barOverflow{ 
        position: relative;
        width: 126px;
        height: 63px; 
        margin-bottom: -45px;
    }

    .bar{
        border: 6px solid var(--white-color);
        border-bottom-color: var(--dark-color);
        border-right-color: var(--dark-color);

        width: 100%; 
        height: 126px;
    }

    .water-table p:nth-child(1){
        margin-top: 13px;
        color: var(--white-color);
        font-size: 1.4rem;
        font-weight: 600;
    }
    .water-table p:nth-child(2){
        color: var(--white-color);
        font-size: 1.4rem;
        margin: 5px 0 22px;
    }

    .steps-table{
        height: 93px;
    }

    .steps-table .number p:nth-child(1){
        font-size: 1.2rem;
    }

    .steps-xp-bar,
    .total-steps-xp{
        height: 9px;
        margin-bottom: -20px;
    }

    .indicator{
        position: absolute;
        top: 360px;
    }

    .indicator svg:nth-child(1){
        height: 49px;
        margin-bottom: -2px;
    }
    
    .indicator svg:nth-child(2){
        width: 25px;
        height: 11px;
    }
}