.container    
    display: grid;
    grid-template-columns: .35fr 1fr;
    grid-template-rows: 0.4fr 1fr 2fr 0.3fr;
    grid-column-gap: 70px;
    grid-row-gap: 20px;
    
    height: 100vh
    max-width: 1150px
    margin: 0 auto

    #header
        border: 1px solid green
        grid-area: 1 / 1 / 2 / 3

    #profile-infos
        grid-area: 2 / 1 / 3 / 2
    
    #ranking
        grid-area: 3 / 1 / 4 / 2

    .menu-daily-resume
        grid-area: 2 / 2 / 3 / 3
    
    .menu-static 
        border: 1px solid yellow
        grid-area: 3 / 2 / 4 / 3
    
    #footer
        border: 1px solid ciano
        grid-area: 4 / 1 / 5 / 3